.container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 100%; /* Fix container width */
    padding: 10px; /* Add padding for spacing */
    overflow-x: hidden; /* Disable horizontal scrolling */
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    font-weight: 500px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

/* Search form styling */
form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

form input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
    max-width: 300px;
}

form button {
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    background-color: #d229a2;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

form button:hover {
    background-color: #b61f88;
}

/* Table Styling */
table {
    width: 100%; /* Make the table take the full width of the container */
    table-layout: fixed; /* Fix the table layout to prevent overflow */
    border-collapse: collapse; 
}

table thead {
    background-color: #d229a2;
    color: white;
    font-family: 'Oswald', sans-serif;
}

table th, table td {
    border: 1px solid #ddd; /* Add borders to cells */
    padding: 8px; /* Add padding for readability */
    text-align: left; /* Align text to the left */
    word-wrap: break-word; /* Ensure long text breaks and doesn't overflow */
}

table th{
    font-size: 12px;
}

table td {
    font-family: 'Afacad Flux', sans-serif;
    font-size: 12px;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}

/* Responsive Design for smaller screens */
@media (max-width: 768px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    table thead {
        display: none;
    }

    table tbody tr {
        margin-bottom: 15px;
        border: 1px solid #ccc;
        padding: 10px;
        background-color: white;
    }

    table tbody td {
        padding-left: 50%;
        position: relative;
    }

    table tbody td:before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        top: 10px;
        font-family: 'Oswald', sans-serif;
        color: #333;
    }
}

