<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{% static 'admin_app/css/admindashboard.css' %}">
</head>
<body>
    <div class="dashboard-container">
        <header>
            <div class="logo-container">
                <img src="{% static 'images/capstoneLogo.png' %}" alt="Capstone Logo">
                <img src="{% static 'images/capstoneTravelista.png' %}" alt="Travelista Logo">
            </div>
            <div class="links-container">
                <a href="{% url 'admin_bookings' %}">Bookings</a>
                <a href="{% url 'driver_management' %}">Drivers</a>
                <a href="{% url 'van_management' %}">Vans</a>
                <a href="{% url 'statistics' %}">Statistics</a>
                <a href="{% url 'admin_logout' %}">Logout</a> 
            </div>
        </header>
        <main>
            <div class="content-box" id="content-box">
                {% block content %}
                <!-- Default content if any, or just leave it empty -->
                {% endblock %}
            </div>
        </main>
    </div>
</body>
</html>
