<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <title>GFS Travelista</title>
    <link rel="stylesheet" href="{% static 'customer_app/css/customerhomepage2.css' %}">
</head>
<body>
    <nav>
        <!-- Checkbox for toggling menu -->
        <input type="checkbox" id="check">
        <!-- Menu icon -->
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <!-- Site logo -->
        <label class="logo">GFS Travelista</label>
        <!-- Navigation links -->
        <ul>
            <li><a class="nav-link" href="#home">Home</a></li>
            <li><a class="nav-link" href="#private-ride">Private Ride</a></li>
            <li><a class="nav-link" href="{% url 'cstmrbookingdetails' %}">Booking Search</a></li>
            <li><a class="nav-link" href="{% url 'about_us' %}">About Us</a></li>
        </ul>
    </nav>

    <!-- Section for image -->
    <section id="home">
        <img src="{% static 'images/tripsched4.png' %}" alt="Trip Schedule Image" class="trip-image">
    </section>

<section class="stats-section">
  <div class="stat-item">
    <h3 data-target="10">0</h3>
    <p>Vans Available</p>
  </div>
  <div class="stat-item">
    <h3 data-target="44">0</h3>
    <p>Trusted Travel Agencies</p>
  </div>
  <div class="stat-item">
    <h3 data-target="10000">0</h3>
    <p>Successful Trips</p>
  </div>
  <div class="stat-item">
    <h3 data-target="6">0</h3>
    <p>Years of Service</p>
  </div>
</section>


    <section class="hidden-section">
         <h2 class="booking-text">Want to book a private ride?</h2>
    </section>
    <section class="hidden-section" id="private-ride">
    <div class="carousel">
        <div class="carousel-container">
            <div class="carousel-slide">
                <div class="van-card">
                    <div class="van-img">
                        <img id="destination-image" src="{{ dest1.file_upload.url }}" alt="Destination Image">
                    </div>
                    <div class="van-details">
                        <p><strong>Starting Point:</strong> <span id="starting-point">{{ dest1.destination1 }}</span></p>
                        <p><strong>Target Destination:</strong> <span id="target-destination">{{ dest1.destination2 }}</span></p>
                        {% if ppc_en_data %}
                            <p><strong>One Way Price:</strong> ₱{{ ppc_en_data.dynamic_price }}</p>
                        {% else %}
                            <p><strong>No pricing information available for PPC-EN.</strong></p>
                        {% endif %}
                    </div>
                    <div class="book-btn">
                        <button type="button" class="book-button"
                                data-destination-image="{{ dest1.file_upload.url }}"
                                data-destination2="{{ dest1.destination1 }}"
                                data-destination1="{{ dest1.destination2 }}"
                                data-transportation-fee="{{ ppc_en_data.dynamic_price  }}"
                                onclick="openModal(event)">
                            Book
                        </button>
                    </div>
                    <div class="switch-btn">
                        <button type="button" onclick="switchDestinations()">Switch Destination</button>
                    </div>
                </div>
                <div class="van-card">
                    <div class="van-img">
                        <img id="destination-image" src="{{ dest2.file_upload.url }}" alt="Destination Image">
                    </div>
                    <div class="van-details">
                        <p><strong>Starting Point:</strong> <span id="starting-point1">{{ dest2.destination1 }}</span></p>
                        <p><strong>Target Destination:</strong> <span id="target-destination1">{{ dest2.destination2 }}</span></p>
                        {% if milan_data %}
                            <p><strong>One Way Price: </strong>₱{{ milan_data.dynamic_price }}</p>
                        {% else %}
                            <p>No pricing information available for MILAN.</p>
                        {% endif %}
                    </div>
                    <div class="book-btn">
                        <button type="button" class="book-button"
                        data-destination-image="{{ dest2.file_upload.url }}"
                        data-destination2="{{ dest2.destination1 }}"
                        data-destination1="{{ dest2.destination2 }}"
                        data-transportation-fee="{{ milan_data.dynamic_price }}"
                        onclick="openModal(event)">
                    Book
                        </button>
                    </div>
                    <div class="switch-btn">
                        <button type="button" onclick="switchDestinations1()">Switch Destination</button>
                    </div>
                </div>

                <div class="van-card" id="promo-card">
                    <div class="ribbon">
                        <span>10% OFF</span>
                    </div>
                    <div class="van-img">
                        <img id="destination-image" src="{{ dest3.file_upload.url }}" alt="Destination Image">
                    </div>
                    <div class="van-details">
                        <p><strong>Starting Point:</strong> <span id="starting-point2">{{ dest3.destination1 }}</span></p>
                        <p><strong>Target Destination:</strong> <span id="target-destination2">{{ dest3.destination2 }}</span></p>
                            <p class="original-price"><strong>Original Fee: </strong>₱{{ frendz.base_price }}</p>
                            {% if frendz_data %}
                            <p><strong>One Way Price NOW: </strong>₱{{ frendz_data.dynamic_price }}</p>
                        {% else %}
                            <p>No pricing information available for FRENDZ.</p>
                        {% endif %}
                    </div>
                    <div class="book-btn">
                        <button type="button" class="book-button"
                                data-destination-image="{{ dest3.file_upload.url }}"
                                data-destination2="{{ dest3.destination1 }}"
                                data-destination1="{{ dest3.destination2 }}"
                                data-transportation-fee="{{ frendz_data.dynamic_price }}"
                                onclick="openModal(event)">
                            Book
                        </button>
                    </div>
                    <div class="switch-btn">
                        <button type="button" onclick="switchDestinations2()">Switch Destination</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

   <!-- Custom Booking Link -->
<div class="hidden-section" id="full-width-section">
   <div class="custom-booking-section">
    <div class="image-container">
        <img src="{% static 'images/travelista-van1-crop.png' %}" alt="Custom Booking Image">
    </div>
    <div class="text-container">
        <h2>Want to customize your private booking more?</h2>
        <p>
            From selecting your vehicle and driver to choosing specific destinations, 
            we make it easy for you to personalize your experience. Book now and enjoy a tailored journey!
        </p>
        <a href="{% url 'customisebook' %}" class="custom-booking-button">Book Here</a>
    </div>
    </div>
</div>

<div class="bookingsrch-container">
    <p>Already have a booking with us?</p>
    <a href="{% url 'cstmrbookingdetails' %}" class="search-link">
        <i class="fas fa-search search-icon"></i> Click here!
    </a>
</div>

<!-- Modal Structure -->
<div id="bookingModal" class="modal">
    <div class="modal-content">
        <span class="close-button" onclick="closeModal()">&times;</span>
        <div class="form-header">
            <img id="modal-destination-image" alt="Destination Image">
            <h2>Destination: <span id="modal-destination1"></span></h2>
            <p>Starting Point: <span id="modal-destination2"></span></p>
            <p>Transportation Fee: ₱<span id="modal-transportation-fee"></span></p>
            <input type="hidden" id="modal-destination-id">
        </div>
        <div id="modal-form-content">
            {% include 'customer_app/bookdestination.html' %}
        </div>
    </div>
</div>
<!-- Custom Modal Structure -->
<div id="bookingCustomModal" class="customModal">
    <div class="custom-modal-content">
        <span class="close-button" onclick="closeCustomModal()">&times;</span>
        <div id="custom-modal-form-content">
            {% include 'customer_app/bookvanform.html' %}
        </div>
    </div>
</div>

{% include 'customer_app/footer.html' %}

    <script>
        const bookVanFormUrl = "{% url 'bookvanform' %}";
    </script>
    <script>
        const bookDestinationFormUrl = "{% url 'bookdestination' %}";
    </script>
    <script src="{% static 'customer_app/js/custombooking.js' %}"></script>
    <script src="{% static 'customer_app/js/stats.js' %}"></script>
    <script src="{% static 'customer_app/js/switchdestination.js' %}"></script>
    <script src="{% static 'customer_app/js/modal.js' %}"></script>

</body>
</html>
