<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GFS Travelista</title>
        <link rel="stylesheet" href="{% static 'customer_app/css/success.css' %}">
      </head>
<body>
    <div class="container">
        <h1>Booking Successful!</h1>
        <p>Thank you for your booking, {{ booking.full_name }}! We will get back to you shortly.</p>
            {% if booking %}
            <p><strong>Your Booking ID:</strong> {{ booking.id }}</p>
            <p>Please save this Booking ID for reference. You will need it to check your booking status.</p>
            {% else %}
            <p>There was an issue retrieving your booking details. Please contact customer support for assistance.</p>
            {% endif %}
        <a href="{% url 'customerhomepage2' %}">Make another booking</a>
    </div>
</body>
</html>
