body {
    font-family: "Inclusive Sans", sans-serif;
}

nav {
    background: #ce40b0;
    height: 80px;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    position: sticky;  /* Make the header sticky */
    top: 0;            /* Stick to the top */
    z-index: 999;
}

label.logo {
    color: white;
    font-size: 25px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    color: white;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}

ul li a.active,
ul li a:hover {
    color: #fcd23c;
    transition: .5s;
}